.App {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f7f7f7;
}

.emi-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Reduced gap between elements */
}

.title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 15px;
}

input[type="text"], input[type="number"], .slider input {
    width: 100%;
    padding: 8px; /* Reduced padding */
    margin: 5px 0; /* Reduced margin */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.slider {
    width: 100%; /* Make the slider take full width */
}

.labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.tenure-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tenure {
    width: calc(33.333% - 10px); /* Adjusting width */
    min-width: 80px;
    height: 40px; /* Reduced height */
    border: none;
    border-radius: 20px; /* Adjusted border radius */
    background-color: gainsboro;
    font-size: 1.2em; /* Increased font size */
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.tenure:hover {
    background-color: #b0c4de;
}

.selected {
    background-color: #009ad6;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .tenure {
        width: calc(50% - 10px);
        font-size: 1em; /* Adjusted font size for smaller screens */
    }

    .title {
        font-size: 1.2em;
    }

    .emi-container {
        padding: 15px;
    }
}
