footer {
    padding: 3.2rem;
    text-align: center;
    background-color: #800020;
    color: white;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    footer {
      padding: 2rem;
    }
  }
  